<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/new.css">
    <title>ideas | new</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <p>Idea board</p>
        </div>

        <a href="/" class="arrow"><i class="fas fa-arrow-left"></i></a>


        <div class="content">
            <div class="message">
                {{#if message}}
                <p class="error"> {{message}} </p>
                {{else}}
                  {{#if success}}
                   <p class="sucess"> {{success}} </p>
                  {{/if}}
                {{/if}}

                {{!-- {{#if success}}
                <p class="sucess"> {{success}} </p>
                {{/if }} --}}


            </div>

            <div class="ideas">

                <form action="/new/save" method="post">
                    <input type="text" id="idea" name="idea" placeholder="idea:"><br>
                    <textarea name="details" id="details" placeholder="details"></textarea><br>
                    <button type="submit" class="btn">add</button>
                </form>

            </div>

        </div>


    </div>
</body>

</html>